{
    "domain": "www.namesilo.com",
    "key": "1234",
    "frequency": 600,
    "mail_host": "",
    "mail_port": "",
    "mail_user": "",
    "mail_pass": "",
    "receivers": [""],
    "email_after_reboot": false
}