{
    "domains": [
        "www.namesilo.com"
    ],
    "domains_ipv6": [
        "ipv6.namesilo.com"
    ],
    "ttl": 3600,
    "key": "1234",
    "frequency": 600,
    "mail_host": "smtp.qq.com",
    "mail_port": "465",
    "mail_user": "",
    "mail_pass": "password or key",
    "receivers": [""],
    "mail_lang": "zh-cn",
    "auto_restart": false,
    "email_every_update": false
}