{
    "domains": [
        "www.namesilo.com"
    ],
    "domains_ipv6": [
        "ipv6.namesilo.com"
    ],
    "domains_router_ipv6": [
        "router6.namesilo.com"
    ],
    "ttl": 3600,
    "key": "1234",
    "frequency": 600,
    "get_ipv6_local": true,
    "router_snmp": {
        "enabled": false,
        "router_ip": "192.168.1.1",
        "version": 3,
        "community": "public",
        "username": null,
        "auth_key": null,
        "priv_key": null,
        "port": 161,
        "interface_index": null
    },
    "router_ssh": {
        "enabled": false,
        "ip": "192.168.1.1",
        "username": "root",
        "password": "password",
        "port": 22,
        "ipv4_command": "dev_sta get -m ipinfo | jq .wan.ip",
        "ipv6_command": "dev_sta get -m ipinfo6 | jq -r '.wan.ip6 | split(\"/\")[0]'"
    },
    "mail_host": "smtp.qq.com",
    "mail_port": "465",
    "mail_user": "",
    "mail_pass": "password or key",
    "receivers": [""],
    "mail_lang": "zh-cn",
    "auto_restart": false,
    "email_every_update": false
}